{% extends "layout.html" %}
{% block title %}
    Beta gym
{% endblock %}

{% block main %}
    <div class = "header">   </div>
    <div class = "bottom_header">
        <div class = "image-text">
            <img src = "/static/images/time.png" class = "small-image">
            <span>24/7 Access</span>
        </div>
        <div class = "image-text">
            <img src = "/static/images/apple.jpg" class = "small-image">
            <span>Personal Diet Plans</span>
        </div>
        <div class = "image-text">
            <img src = "/static/images/trr.jpg" class = "small-image">
            <span>Certified Trainers</span>
        </div>
    </div>
    <div class = "facilities">
        <h1 class = "fac">Facilities</h1>
        <div class = "img_container">
            <div class = "first">
                <img src = "/static/images/dbl.jpg">
            </div>
            <div class = "first">
                <img src = "/static/images/treadmil.jpg">
            </div>
        </div>

    </div>
    <div class = "trainers">
        <h1 class = "fac">Our Trainers</h1>
        <div class = "img_container">
            <div class = "image-text">
                <div class = "firstt">
                    <img src ="/static/images/gtr.jpg" >
                </div>
                <span class = "bold"><strong>Siri</strong></span>
                <span>Female Trainer</span>
            </div>
            <div class = "image-text">
                <div class = "firstt">
                    <img src ="/static/images/tr2.jpg" >
                </div>
                <span class = "bold"><strong>Robby</strong></span>
                <span>Male Trainer</span>
            </div>
        </div>
        <div class = "imagee-text">
        <div class = "img_container">
            <div class = "firstt">
                <img src = "/static/images/tr3.jpg">
            </div>
        </div>
        <span class = "bold"><strong>Larry</strong></span>
        <span>Head Coach</span>
        </div>
    </div>
    <div class = "workhour">
        <h1 class="fac">Working Hours</h1>
            <table>
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Opening Time</th>
                        <th>Closing Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday - Friday</td>
                        <td>6:00AM</td>
                        <td>11:00PM</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>6:00AM</td>
                        <td>8:00PM</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>7:00AM</td>
                        <td>6:00PM</td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class = "membership">
        <h1 class = "fac">Membership Plans</h1>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Months</th>
                    <th>Charges</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Single Person</td>
                    <td>1 Month</td>
                    <td>₹900</td>
                </tr>
                <tr>
                    <td>Single Person</td>
                    <td>3 Months</td>
                    <td>₹2500</td>
                </tr>
                <tr>
                    <td>Single Person</td>
                    <td>6 Months</td>
                    <td>₹4500</td>
                </tr>
                <tr>
                    <td>Single Person</td>
                    <td>12 Months</td>
                    <td>₹7000</td>
                </tr>
                <tr>
                    <td>Couple</td>
                    <td>1 Month</td>
                    <td>₹1500</td>
                </tr>
                <tr>
                    <td>Couple</td>
                    <td>3 Months</td>
                    <td>₹4500</td>
                </tr>
                <tr>
                    <td>Couple</td>
                    <td>6 Months</td>
                    <td>₹8000</td>
                </tr>
                <tr>
                    <td>Couple</td>
                    <td>12 Months</td>
                    <td>₹15000</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class = "contact">
        <h1 class = "fac">Reach Out To Us</h1>
        Email: <a href = "mailto:fawwaz21022008@gmail.com" class = "mail">Send the mail to me.</a><br>
        Instagram: <a href = "https://www.instagram.com/sillypoint_x/" class = "mail">Message Me On Instagram</a><br>
        linkedin: <a href ="https://www.linkedin.com/in/mohammad-fawaz-57aaa3357?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class = "mail">My linkedin</a><br>
        Address : In Your Heart
    </div>
{% endblock %}
